<div class="menu">
  <button><ion-icon name="ios-home-outline"></ion-icon></button>
  <button><ion-icon name="ios-filing-outline"></ion-icon></button>
  <div class="cover">
    <!-- <div class="button">+</div> -->
      <ion-fab class="button" bottom>
        <button ion-fab id="add-conta">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab><ion-icon name="ios-trash"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-usd"></ion-icon></button>
          <button ion-fab><ion-icon name="ios-clipboard"></ion-icon></button>
          <button ion-fab><ion-icon name="ios-create"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
  </div>
  <button><ion-icon name="ios-contact-outline"></ion-icon></button>
  <button><ion-icon name="ios-settings-outline"></ion-icon></button>
</div>
